:root {
  --color-base: #1b1620;
  --color-background: #261f2d;
  --color-surface: #32293b;
  --color-foreground: #c1acd7;
  --color-accent: #8a47d1;
  --color-error: #d3494b;
}

body {
  background-color: var(--color-base);
  color: var(--color-foreground);
  margin: 0;
  font-family: "Lexend", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}
